@{
    ViewData["Title"] = "Menú Principal";
}

<h2>@ViewBag.Mensaje</h2>

<p>Selecciona un módulo:</p>

<ul>
    <li><a asp-controller="Proyecto" asp-action="Index">Gestión de Proyectos</a></li>
    <li><a asp-controller="Inventario" asp-action="Index">Inventario</a></li>
    <li><a asp-controller="Factura" asp-action="Index">Facturación</a></li>
    <li><a asp-controller="Reserva" asp-action="Index">Reservas / Citas</a></li>
    <li><a asp-controller="Taller" asp-action="Index">Gestión de Talleres</a></li>
    <li><a asp-controller="Usuario" asp-action="Login">Iniciar Sesión</a></li>
</ul>
